<%- include("./components/navbar.ejs")%>

    <body>
        <!-- checks if reviews are clients or another user's -->
        <% if (!locals.userData) { %>
            <h1 class="my-hero">My Marks</h1>
            <% } else {%>
                <h1 class="user-name test">
                    <%= userData.name %>'s Marks
                </h1>
                <% } %>

                    <!-- books user has reviewed-->
                    <% if (locals.reviews) { %>
                        <!-- set an number for the func to go through array -->
                        <% let numb=-1 %>
                            <% reviews.forEach(review=> { %>
                                <% numb++ %>
                                    <!-- Checks to see if there is a review present for it to show data -->
                                    <% if (!review.content) { %>
                                        <div>
                                            <h1 class="book-title">
                                                <%= bookData[numb].volumeInfo.title %>
                                                    <!-- <form class="mark-box" action="/api/review/find" method="POST"> -->
                                                    <p class="visually-hidden book-ID">
                                                        <%= review.book %>
                                                    </p>
                                                    <!-- </form> -->

                                            </h1>
                                            <img src="<%= bookData[numb].volumeInfo.imageLinks.thumbnail %>"
                                                class="book-image" alt="book cover">
                                            </img>
                                            <br>
                                            <% if (!locals.userData) { %>
                                                <a class="mark-edit" href="/api/review/<%=review.id%>">
                                                    Edit This Mark?
                                                </a>
                                                <br>
                                                <a class="mark-edit" href="/api/review/delete-review/<%=review.id%>">
                                                    Delete This Mark?
                                                </a>

                                        </div>
                                        <% } %>
                                            <% } %>
                                                <% }); %>
                                                    <% } %>
                                                        <%- include("../utils/bookIDfind.ejs") %>
                                                            <!-- Log out button -->
                                                            <form action="/api/user/logout" method="POST">
                                                                <button type="submit" class="btn btn-primary logout">Log
                                                                    Out</button>
                                                            </form>


    </body>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
        </script>